/* menu icon */
#menu-icon {
	display: none; /* hide menu icon initially */
}

#projects{
	li {
		list-style: none;
		margin-right: 5px;

		a{
			padding: 4px 15px;
			display: block;
			color: #000;
			background: $grey_light;
			&:hover{
				background:$grey_dark;
			}

		}
	}
}

@media screen and (max-width: 480px) {

	aside nav {
		margin:0 auto;
		width:90%;
	}

	#menu-icon {
		padding:5px;
		text-align:center;
		background: $grey_light url(img/menu-icon.png) no-repeat 10px center;
		cursor: pointer;
		display: block; /* show menu icon */
		font-weight:500;

		&:hover {
			background-color: $grey_dark;
		}
		.active {
			background-color: #bbb;
		}
	}
	#projects {
		clear: both;
		z-index: 10000;
		background: #f8f8f8;
		display: none; /* visibility will be toggled with jquery */
		margin:5px auto 0;

		li {
			clear: both;
			float: none;
			width:100%;
			padding:5px 0;

			a{
				font: inherit;
				background: none;
				display: inline;
				padding: 0;
				border: none;
				padding:5px;
			}
			&:hover,&.current_page_item{
				background-color:$grey_dark;
				a{
					margin-left:7px;
				}
			}
		}
	}

	/* dropdown */

}

@media screen and (min-width: 481px) {

	/* ensure #projects is visible on desktop version */
	#projects {
		display: block !important;
	}

}