aside nav {
	// margin-top: 20px;
}

/* menu icon */
#menu-icon {
	display: none; /* hide menu icon initially */
}

#projects{
	li {
		list-style: none;
		margin-right: 5px;

		a{
			padding: 4px 15px;
			display: block;
			color: #000;
			background: #ecebeb;

			&:hover{
				background-color:#f8f8f8;
			}
		}
	}
}

@media screen and (max-width: 480px) {

	/* nav-wrap */
	aside nav {
		position:absolute;
		top:15px;
		right:10px;
		margin:0;
	}

	#menu-icon {
		color: #000;
		width: 42px;
		height: 30px;
		background: #ecebeb url(img/menu-icon.png) no-repeat 10px center;
		cursor: pointer;
		border: solid 1px #666;
		display: block; /* show menu icon */


		&:hover {
			background-color: #f8f8f8;
		}
		.active {
			background-color: #bbb;
		}
	}
	#projects {
		clear: both;
		position: absolute;
		top: 38px;
		right:-1px;
		width: 160px;
		z-index: 10000;
		padding: 5px;
		background: #f8f8f8;
		border: solid 1px #999;
		display: none; /* visibility will be toggled with jquery */

		li {
			clear: both;
			float: none;
			margin: 5px 0 5px 10px;

			a{
				font: inherit;
				background: none;
				display: inline;
				padding: 0;
				color: #666;
				border: none;

				&:hover{
					background:none;
					color:#000;
				}
			}
		}
	}

	/* dropdown */

}

@media screen and (min-width: 481px) {

	/* ensure #projects is visible on desktop version */
	#projects {
		display: block !important;
	}

}