@media print {
    html {
    	width:8.5in;
    }

    body {
		color: #000;
		margin: 50px;
		margin-top: 70px;
		line-height: 1.35;
	}

	h3, h2 {
		letter-spacing: normal !important;
    	font-size: 9.5pt !important;
		font-family: $print_sans;
		margin: 0 !important;
		padding: 0 !important;
	}
	a, a:visited {
		text-decoration: none;
		color: #000;
	}

	p, ul, li {
    	font-size: 9.5pt !important;
		font-family: $print_serif;
		margin: 0;
	}
	#share_menu,
	#to_top,
	aside,
	#global,
	header,
	#content.resume .section .left #experience,
	.section.options {
		display: none;
	}

	#print_header {
		display: inline;
		float: left;
		width: 15%;
		margin-top: 10px;
	}

	#content {
		margin-top: -100px;
		width: 85%;
		float: right;
	}

	.left, .right {
		margin: 0;
	}

	.left {
		width: 17%;
		float: left;
		text-align: right;
		h3 {
			padding-right: 10px;
		}
	}
	.right {
		width: 82%;
		float: right;
		&.skills {
			ul {
				float: left;
				width: 48%;
			}
		}
		.company {
			float: left;
		}
		.position {
			float: left;
			width: 100%;
		}
		.date {
			float: right;
		}
	}


}