// VARIABLES
$header_color: #BADA55;
$grey_dark: #D4D4D4;
$grey_light: #f8f8f8;

$sans_family: 'Dosis', Helvetica, Verdana, sans-serif;

$DEBUG: false;

// print
$print_sans: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$print_serif: Palatino, Georgia,'Times New Roman',serif;